@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1D1D2C;
    font-family: poppins;
}

.menu-item:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.prompt p {
    text-align: center;
    color: red;
    margin-top: 20px;
}

.receiptContainer {
    margin: 10px auto !important;
}


.receiptTable {width: 100%;}
.receiptTable td {font-size: 14px;}
.tableQty {width: 10%;}
.tableDesc {width: 65%;}
.tableAmount {width: 25%; text-align: right;}
.receiptDivider {display: block; border-bottom: 1px solid #000; margin: 5px 0; }
.last {margin-bottom: 0;}
.receiptDetails {font-size: 12px;}
.receiptTable.transaction p {margin: 5px 0;}

.receiptTable.transaction td:last-child {
    width: 25%;
}

.receiptTable p {text-align: right;}
button.Mui-disabled{color:#8e8d8b !important;}

.noborderbottom{border-bottom:0 !important;}

.receiptDivider {
    width: 100%;
    height: 1px;
    display: block;
    background-color: black;
    margin: 5px 0;
}

.receiptDivider.last {
    margin-top: 30px;
    margin-bottom: 10px;
}